.app {
  height: 100vh;
  width: 100vw;
}

@media screen and (orientation: landscape) {
  .app.orientleft,
  .orientright {
    width: 100vh;
    height: 100vw;
    transform-origin: 0 0;
  }
}

.app.orientleft {
  transform: rotate(-90deg) translateX(-100%);
}

.app.orientright {
  transform: rotate(90deg) translateY(-100%);
}