.splash {
  background-color: #D93180;
  color: #F4E989;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  min-height: 100%;
  width: 100%;
  text-align: center;
  display: none;
}

.splash.visible {
  display: block;
}

.splash header {
  background-color: #F4E989;
  color: #D93180;
  padding: 3rem 1.5rem;
  font-size: 3rem;
}

.splash .intro {
  padding: 1.5rem 2rem;
}

.splash .intro button {
  margin-top: 2.5rem;
}

.splash .intro p {
  margin-bottom: 1.5rem;
}

.splash .ios-auto-rotate-help {
  display: flex;
}